/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero {
  background-image: url('https://i.pinimg.com/236x/8c/cf/2f/8ccf2f073f34558a091de30a64ef351a.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 0;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-cta {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #f3d8e9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-cta:hover {
  background-color: #db56a2;
}

.cart {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cart h2 {
  color: #333;
  text-align: center;
}

.cart p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.cart button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #c71585;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart button:hover {
  background-color: #a30059;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product {
  width: 30%;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product p {
  font-size: 1.1rem;
  color: #333;
}

.product button {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #c07fa7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product button:hover {
  background-color: #8b3067;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}


